* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    background-color: lightsteelblue;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    line-height: 1.2;
    max-width: 1000px;
    margin: 0 auto;
    border: 3px solid steelblue;
    box-shadow: 3px 3px 12px 12px gray;
    background-color: white;
}
header {
    display: flex;
    align-items: center;
    border-bottom: 3px solid steelblue;
    background-image: linear-gradient(to left, steelblue, white);
}
header h2{
    font-size: 300%;
    font-style: italic;
    color: steelblue;
    text-shadow: 2px 2px 15px gray;
}

a:link, a:visited {
    color: steelblue;
}

a:hover, a:active {
    color:maroon;
}
aside a {
    font-weight: bold
}
aside a:visited {
    color: maroon;
}

main {
    display: flex;
}
section {
    max-width: 75%;
}

aside {
    max-width: 25%;
}

h1 {
    margin-left: 5%;
}

section p {
    margin: 0 3% 20px;
}

blockquote {
    margin: 0 15% 20px;
    border-left: 8px solid steelblue;
    background-color: rgb(186, 207, 235);
    padding: 7px 7px;
}

section h2, section h4, aside h2 {
    margin: 0 3% 20px;
}

aside h2 {
    margin-top: 20px;
}

aside ul {
    margin-left: 8%;
    line-height: 1.5;
    padding-left: 5%;
}

h4 {
    font-weight: normal;
}

footer {
    background-color: steelblue;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

footer p {
    padding: 20px 0;
    font-variant: small-caps;
}